<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="FileAppender" fileName="Calculator.log" immediateFlush="false" append="true">
            <PatternLayout pattern="[%-5level] %d{dd/MMM/yyy:HH:mm:ss SSS} [ %l ] %msg%n"/>
        </File>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level ] %d{dd/MMM/yyy:HH:mm:ss SSS} [ %l ] %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
